@import url('https://fonts.googleapis.com/css2?family=Changa&family=Lato:wght@300&family=Roboto:wght@100;300&family=Short+Stack&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:1.3em;
    color: #3a3a3a;

}


/* Headings and Logo*/

h1,
h2 {
    font-family: 'Changa', sans-serif;
    font-size: 1.5em;
    color: #F4A817;
}


#logo {
    float: left;
    font-size: 300%;
    color: #F4A817;
    margin-left: 1rem;
    letter-spacing: 4px;

}


/* navigation links */

#menu {
    font-family: 'Changa', sans-serif;
    font-size: 130%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color: #F4A817;

}

#menu a:hover {
    border-bottom: 1px solid #F4A817;
}

.active {
    border-bottom: 1px solid #F4A817;
}



/* Hero image */

#hero-image {
    height: 37.5em;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    overflow: hidden;
    background-size: cover;


}

/* mission section */

#mission {
    padding: 2em;
    line-height: 1.7em;
    text-align: justify;

}

/* Mission headings */
#mission h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    
}

/* goal section */

#goal-help {
    color:#fff;
    text-align: justify;
    background-color:#62174a;
    width:100%;
    height:25rem;
    line-height:1.7em;
}

#goal-help-heading {
    color:#fff;
    text-align: center;
    text-transform: uppercase;
   
    
}

#right-box {
    color:#fff;
    width: 42%;
    height: 12em;
    float: right;
    margin: 1.5rem;
    padding:0.5em;
    border-style: dotted;
    border-radius: 50px;
    
}

#left-box {
    color:#fff;
    width: 42%;
    height: 12em;
    float: left;
    margin: 1.5rem;
    padding:0.5em;
    border-style: dotted;
    border-radius: 50px;
    
}

/* volunteering and donation section */

#donate-volunteer {
    color:#fff;
    text-align: center;
    width:100%;
    height:25rem;
    line-height:1.7em;
    padding: 0.5em;
    background-color: #296990ff;
    border-style:solid;
    border-radius: 40px; 
    
            
}

#donate, #volunteer {
    padding:0.5em;
    
}
/* About us section */

/*About Us image*/

#about-image {

    height: 37.5em;
    width: 100%;
    background: url('../images/about-image.webp') no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

/* About Us Text*/
#about-us {
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding-left: 10rem;
    padding-right: 10rem;
    height:700px;

}

/* About us heading */
#about-us h1 {
    padding: 0.5em;
    text-transform: uppercase;
}

#about-us p {
    text-align: justify;
}

/* Form */

.form{
    clear: left;
    background-image: url('../images/donate-volunteer-image.webp');
    background-size: cover;
    background-position: center;
    height: 900px;
}


.contact-form {
    margin:150px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 20, 20, 0.6);
    max-width:500px;
    position:absolute;
    left:30%;
    padding:30px;
}
.contact-form h2{
    color:#fafafa;
    margin-bottom:20px;
}  

.text-input{
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #fafafa;
    border-radius:2px;
    
}

.text-input:hover{
    border-color:#62174a;
}

.send-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#62174a;
    color:#fafafa;
    display:block;
  
}

.send-button:hover {
    background-color:#fafafa;
    color:#62174a;
}


/* Footer */

footer {
    height: 9.375em;
    background-color: #F4A817;
   
}

.social-media-aogim {
    text-align: center;
}

.social-media-aogim>li {
    display: inline;
}

.social-media-aogim i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media Queries*/

/* from 1000px*/
@media screen and (max-width:1000px) {

    #left-box,
    #right-box {
        width: 100%;
        height: 6.25em;
        margin: 0 auto;
       
        padding: 0;
    }
}

/*medium to small screen from 860px*/

@media screen and (max-width:860px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    .contact-form {
        margin:0;    
        max-width: 100%;
        position:0;
        left:0;
        padding: 30px;
        overflow: hidden;
        }

}

/* small screen from 470px*/
@media screen and (max-width:470px) {

    #logo {
        font-size: 145%;
        margin-left:2em; 
        margin-right: 2em;
    }

    #menu {
        font-size: 115%;
        letter-spacing:0;
         
    }

    #hero-image {

        height: 20em;
    }

    .form {
        font-size: 1em;
        height: 560px;

    }

    .contact-form {
    margin:0;    
    max-width: 100%;
    position:0;
    left:0;
    padding: 5px;
    overflow: hidden;
    }
    
    #goal-help {
     height: 35rem; 
     
    }
    #right-box, #left-box {
    float:none;    
    border-style:none;
    height:15rem;
 
    
    }
  
    

    #donate-volunteer {
        padding:0;
    }
}