@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300&family=Short+Stack&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color:#3a3a3a;
}


/* Headings and Logo*/

h1,h2 {
    font-family:'Short Stack', sans-serif;
    color:#4C50A9;
}

#logo {
    float:left;
    font-size:280%;
    color:#F4A817;
    margin-left: 1rem;
}


/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
     
}

#menu, #logo{
    line-height:75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color:#F4A817;
    
}

#menu a:hover {
    border-bottom: 1px solid #F4A817;
}

.active {
    border-bottom: 1px solid #F4A817;
}

