@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300&family=Short+Stack&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color:#3a3a3a;
}

/* Headings and Logo*/

h1,h2 {
    font-family:'Lato', sans-serif;
    text-transform: uppercase;
    color:#4C50A9;
}

#logo {
    float:left;
    color:#F4A817;
}